@import 'src/shared';

/**
  *  paddings + gap + two rows height
  */
$content-height: calc(($tiny-space * 2 + $tiny-space) + 2.5em);
$header-v-space: $tiny-space;

.Header {
  min-height: calc($content-height + $header-v-space * 2);
  box-sizing: border-box;

  &__Content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $header-v-space $small-space * 2;

    box-shadow: $app-bar-shadow;
    background-color: $app-bar-background-color;

    &_fixedTopPosition {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      z-index: $z-index-large;
      box-sizing: border-box;
    }
  }
}
