@import 'src/shared';

$box-shadow: 0 4px 8px #2121211a;
$card-border-radius: 4px;

.Card {
  @include block;
  box-shadow: $box-shadow;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}
