.GlitchText {
  display: inline-block;
  animation: glitch-text 15000ms infinite;
}

@keyframes glitch-text {
  0% {
    text-shadow: unset;
  }
  89% {
    text-shadow: unset;
  }
  90%,
  100% {
    text-shadow: 0 0 10px #00ff00;
  }
  92.5% {
    text-shadow: -2px 0 #ff00ff, 2px 0 #00ffff;
  }
  95% {
    text-shadow: 2px 0 #ff00ff, -2px 0 #00ffff;
  }
  97.5% {
    text-shadow: -2px 0 #00ffff, 2px 0 #ff00ff;
  }
}
