@import 'src/shared';

.SkillsCard {
  border: 1px solid #e5e7eb;
  padding: $space;
  &__Title {
    margin-bottom: $space;
    text-transform: capitalize;

    @include font-1125(#fff, $font-weight-700);
  }
  &__TitleIcon {
    color: var(--primary-color);
  }
  &__List {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include font-1000(#d4d4d4);
  }
  &__Item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__CodeIcon {
    color: var(--primary-color);
  }
}
