@import 'src/shared';

.HomePage {
  &__DetailsGrid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &__Footer {
    margin-top: 2rem;
    text-align: right;
    @include font-750;
    color: #737373;
  }
  &__Label {
    text-transform: uppercase;
  }
  &__AccentText {
    color: rgba(54, 186, 1, 0.8);
  }
}

@media (min-width: 768px) {
  .HomePage {
    &__DetailsGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
