@import 'src/shared';

.HomePage {
  &__DetailsGrid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &__Footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
    @include font-750;
    color: #737373;
    container-name: footer;
    container-type: inline-size;
  }
  &__FooterMessage {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
  }
  &__Label {
    text-transform: uppercase;
  }
  &__AccentText {
    color: rgba(54, 186, 1, 0.8);
  }
}

@media (min-width: 768px) {
  .HomePage {
    &__DetailsGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@container footer (min-width: 300px) {
  .HomePage {
    &__FooterMessage {
      flex-direction: row;
      gap: 0.5 * $space;
    }
  }
}
