@import 'src/common/styles/constants';
@import 'src/common/styles/mixins';
@import 'src/ui/Content/common/style/mixins';

.CareerHistory {
  @include content-page;

  &__HistoryItem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
