//breakpoints
$xs: 0;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

//colors
$default-text-color: #e8e6e3;
$gray-text-color: #a39b8e;
$light-gray-text-color: #aea79a;
$link-color: #00ff2b;
$border-color: #a39b8e;
$active-element-color: #36ba01;
$green-border-color: #009a22;

//paddings/margins
$tiny-space: 5px;
$small-space: 10px;
$medium-space: 30px;
$large-space: 60px;

//font-sizes
$tiny-font-size: 0.75rem;
$small-font-size: 1rem;
$medium-font-size: 1.25rem;
$large-font-size: 1.75rem;

//line-heights
$tiny-line-height: 1rem;
$small-line-height: 1.25rem;
$medium-line-height: 1.5rem;
$large-line-height: 2rem;

//font-weights
$normal-font-weight: 400;
$bold-font-weight: 700;
$super-bold-font-weight: 900;

//app constants
$app-background-color: #181a1bbf;
$app-photo-width: 240px;
$app-photo-height: 320px;

//app bar
$app-bar-shadow: #656d71 0 2px 5px 0, #4d5356 0 2px 10px 0;
$app-bar-background-color: #181a1b;

//flex
$normal-flex: 1;

//borders/bars
$tiny-border: 1px solid $border-color;
$medium-active-border: 5px solid $green-border-color;
$dotted-border: 2px dotted $default-text-color;
$footer-border: 1px solid $border-color;

//transitions
$transition-fast-duration: 0.2s;

//hovers
$hover-color: transparent;
$hover-opacity: 0.8;

//z-indexes
$z-index-large: 1000;
