//colors
$default-text-color: #e8e6e3;
$gray-text-color: #a39b8e;
$link-color: #61dafb;
$border-color: #a39b8e;
$active-element-color: #3391ff;

//paddings/margins
$tiny-space: 5px;
$small-space: 10px;
$medium-space: 30px;
$large-space: 60px;

//font-sizes
$tiny-font-size: 16px;
$small-font-size: 20px;
$medium-font-size: 24px;
$large-font-size: 30px;

//font-weights
$normal-font-weight: 400;
$bold-font-weight: 700;
$super-bold-font-weight: 900;

//line-heights
$tiny-line-height: 20px;
$small-line-height: 24px;
$medium-line-height: 30px;
$large-line-height: 36px;

//app constants
$app-background-color: #181a1b;
$app-padding: $large-space;
$app-height: calc(100vh - 2*$large-space);
$app-width: 90vw;
$app-margin: 0 auto;
$app-photo-height: 240px;

//flex
$normal-flex: 1;

//borders/bars
$tiny-border: 1px solid $border-color;
$medium-active-border: 5px solid $active-element-color;
$dotted-border: 2px dotted $default-text-color;

//transitions
$transition-fast-duration: 0.2s;

//hovers
$hover-color: transparent;
$hover-opacity: 0.8;
