@import 'src/shared';

.ContactsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &__Title {
    @include font-1500(#fff, $font-weight-700);
    text-transform: capitalize;
    letter-spacing: 0.1em; // tracking-widest
    text-align: center;
    margin-bottom: 2rem; // mb-8
    margin-top: 0;
  }
  &__Items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (min-width: 600px) {
  .ContactsPage {
    &__Items {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 1200px) {
  // lg:grid-cols-3
  .ContactsPage {
    &__Items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
