@import 'src/shared';

.SkillsPage {
  width: 100%;
  container-type: inline-size;
  &__Title {
    @include font-1500(#fff, $font-weight-700);
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  &__Items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &__ScanInfo {
    margin-top: 2rem;
    text-align: right;
    @include font-750(#71717a);
  }
  &__ScanLabel {
    text-transform: uppercase;
  }
  &__ScanHighlight {
    color: var(--primary-color);
    opacity: 0.8;
  }
}

@container (min-width: 640px) {
  .SkillsPage__Items {
    grid-template-columns: 1fr 1fr;
  }
}

@container (min-width: 944px) {
  .SkillsPage__Items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
