@import 'src/shared';

.AdditionalDetails {
  &__Title {
    margin-bottom: $space;
    @include font-1125(var(--primary-color), $font-weight-700);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &__List {
    border-left: 2px solid rgba(54, 186, 1, 0.3);
    padding-left: $space;
    @include font-1000;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  &__Item {
    color: #fff;
  }
  &__Label {
    display: inline-block;
    color: #a3a3a3;
    text-transform: uppercase;
  }
  &__Value {
    color: #fff;
  }
  &__Link {
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
