@import 'src/shared';

.ContinuousLearningCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #e5e7eb;
  padding: $space;
  background: none;
  &__Icon {
    color: var(--primary-color);
    font-size: 2.5rem;
  }
  &__Title {
    margin: 0.5rem 0 0.5rem 0;
    @include font-1125(#fff, $font-weight-700);
  }
  &__Text {
    @include font-1000(#a3a3a3);
  }
}
