.ContinuousLearningCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  background: none;
  &__Icon {
    color: var(--primary-color);
    font-size: 2.5rem;
  }
  &__Title {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
  &__Text {
    font-size: 0.875rem;
    color: #a3a3a3;
  }
}
