@import 'src/shared';

.ScanLine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  z-index: $z-index-50;
  opacity: $opacity-02;
  animation: 4s linear 0s infinite normal none running scanline;
  background-image: linear-gradient(to bottom in oklab, transparent 0%, #0f0 50%, transparent 100%);
}

@keyframes scanline {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
