@import 'src/shared';

.CommonInfo {
  display: flex;
  flex-direction: row;
  gap: $medium-space;
  padding: $medium-space $small-space;

  &__Photo {
    min-width: $app-photo-height;
    min-height: $app-photo-height;
    max-width: $app-photo-height;
    max-height: $app-photo-height;
    object-fit: cover;
    border-radius: 50%;
    border: $avatar-border;
  }

  &__Main {
    min-width: max-content;
  }
}

@media (max-width: $md) {
  .CommonInfo {
    flex-direction: column;

    &__Photo {
      align-self: center;
    }
  }
}
