@import 'src/common/styles/constants';

.CommonInfo {
  display: flex;
  flex-direction: row;
  gap: $medium-space;
  padding: $tiny-space $small-space $medium-space;

  &__Photo {
    width: $app-photo-width;
    height: $app-photo-height;
  }

  &__Main {
    min-width: max-content;
  }
}

@media (max-width: $md) {
  .CommonInfo {
    flex-direction: column;

    &__Photo {
      align-self: center;
    }
  }
}
