@import 'src/shared';

.Select {
  @include small-normal-text;

  display: inline-flex;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 1rem;

  border-radius: 0.25rem;
  border: $tiny-border;
  background-color: $app-background-color;
  color: $default-text-color;

  cursor: pointer;
  outline: none;

  transition:
    border-color $transition-tiny-duration $cb-like-ease-in-out,
    box-shadow $transition-tiny-duration $cb-like-ease-in-out,
    background-color $transition-tiny-duration $cb-like-ease-in-out;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // TODO: need to show arrow-up after select open
  background-image: linear-gradient(45deg, transparent 50%, $active-element-color 50%),
    linear-gradient(135deg, $active-element-color 50%, transparent 50%);
  background-position:
    calc(100% - 1rem) calc(50% - 0.1875rem),
    calc(100% - 0.6875rem) calc(50% - 0.1875rem);
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem;
  background-repeat: no-repeat;

  &:hover:not(:disabled) {
    border-color: $green-border-color;
    background-color: rgba(24, 26, 27, 0.95);
  }

  &:focus-visible {
    border-color: $active-element-color;
    box-shadow: 0 0 0 0.0625rem $active-element-color;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &__Option {
    background-color: $app-background-color;
    color: $default-text-color;

    &:hover {
      // TODO: research how to change option hover styles
      background-color: $active-element-tap-color;
      color: $default-text-color;
    }

    &:checked {
      background-color: $active-element-tap-color;
      color: $active-element-color;
    }
  }
}



