@import 'src/common/styles/constants';
@import 'src/common/styles/mixins';

$grid-gap: $small-space;
$line-height: $small-line-height;
$default-column-count: 4;
$column-count: var(--columns-count, 4);
$column-count-md: calc($column-count * 0.75);
$column-count-sm: calc($column-count * 0.5);
$column-count-xs: 1;

.ArrayView {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  grid-gap: $grid-gap;
  justify-items: stretch;
  align-items: center;

  &__Item {
    text-align: center;
    padding: $tiny-space $medium-space;
    border: $accent-border;
    border-radius: 1em;
  }
}

@media (max-width: $lg) {
  .ArrayView {
    grid-template-columns: repeat($column-count-md, 1fr);
  }
}

@media (max-width: $md) {
  .ArrayView {
    grid-template-columns: repeat($column-count-sm, 1fr);
  }
}

@media (max-width: $sm) {
  .ArrayView {
    grid-template-columns: repeat($column-count-xs, 1fr);
  }
}
