@import 'src/shared';

$tab-height: calc(2 * $line-height-1250);

.Tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: $normal-flex;
  min-height: $tab-height;
  cursor: pointer;
  -webkit-tap-highlight-color: $active-element-tap-color;

  &__Name {
    display: flex;
    gap: 0.5 * $space;
    text-transform: uppercase;
    @include tabName(false);

    &_active {
      @include tabName(true);
    }

    &:hover {
      background: $hover-color;
      opacity: $opacity-08;
      transition: $transition-tiny-duration ease-in-out;
    }
  }

  &_withRightBorder {
    border-right: $tiny-border;
  }

  &_active {
    background-color: $card-background-color;
  }
}

@media (max-width: $sm) {
  .Tab {
    &__NameText {
      display: none;
    }
  }
}
