@import 'src/shared';

.Field {
  margin: 0.25 * $space 0.5 * $space;
  display: flex;
  flex-direction: row;
  gap: 0.25 * $space;

  &_withoutHMargin {
    margin-left: 0;
    margin-right: 0;
  }

  &_withoutVMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &_block {
    flex-direction: column;
  }

  &__Label {
    @include font-1000($gray-text-color);
    word-break: keep-all;
  }
}

@media (max-width: $sm) {
  .Field {
    flex-direction: column;
  }
}
