@import 'src/shared';

.Field {
  margin: $tiny-space $small-space;
  display: flex;
  flex-direction: row;
  gap: $tiny-space;

  &_withoutHMargin {
    margin-left: 0;
    margin-right: 0;
  }

  &_withoutVMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &_block {
    flex-direction: column;
  }

  &__Label {
  }

  &__Value {
  }
}

@media (max-width: $sm) {
  .Field {
    flex-direction: column;
  }
}
