.AboutMeDetails {
  margin-top: 2rem;
  &__Title {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--primary-color);
  }
  &__Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 2px solid rgba(54, 186, 1, 0.3);
    padding-left: 1rem;
    font-size: 0.875rem;
    color: #d4d4d4;
  }
  &__AchivementsList {
    padding: 0 0.5rem;
  }
}
