@import 'src/shared';

.AboutMeDetails {
  margin-top: 2rem;
  &__Title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include font-1125(var(--primary-color), $font-weight-700);
    letter-spacing: 0.1em;
  }
  &__Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 2px solid rgba(54, 186, 1, 0.3);
    padding-left: 1rem;
    @include font-1000(#d4d4d4);
  }
  &__AchivementsList {
    padding: 0 0.5rem;
  }
}
