@import 'src/common/styles/constants';
@import 'src/common/styles/mixins';
@import 'src/ui/Content/common/style/mixins';

.Footer {
  display: flex;
  align-items: center;
  padding: $medium-space $small-space;
  border-top: $tiny-border;

  &__CopyrightLabel {
    color: $light-gray-text-color;
  }
}
