@import 'src/shared';

.MainLayout {
  flex: 1 1 0;
  padding: 2 * $space $space;
  &__Wrapper {
    margin: 0 auto;
    max-width: 64 * $space;
    border-width: 1px;
    border-color: rgb(39 58 39);
    background-color: rgb(0 0 0 / 0.5);
    padding: 1.5 * $space;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

@media (min-width: 1024px) {
  .MainLayout {
    padding-left: 10 * $space;
    padding-right: 10 * $space;
  }
}

@media (min-width: 768px) {
  .MainLayout {
    padding-left: 5 * $space;
    padding-right: 5 * $space;
  }
}

@media (min-width: 640px) {
  .MainLayout {
    padding-left: 2.5 * $space;
    padding-right: 2.5 * $space;
  }
}
