@import 'src/shared';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2.5rem;
  border: 1px solid rgb(39 58 39);
  white-space: nowrap;
  background-color: rgb(0 0 0 / 0.5);
  &__LeftBlock {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  &__LogoLink {
    text-decoration: none;
  }
  &__LogoText {
    @include font-1250(var(--primary-color), $font-weight-700);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    white-space: pre-wrap;
  }
  &__NavLinks {
    display: none;
    align-items: center;
    gap: 2rem;
  }
  &__NavLink {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    @include font-875(rgb(255 255 255 / 0.8), $font-weight-500);
    &:hover {
      color: var(--primary-color);
    }
    &:active {
      color: var(--primary-color);
    }
  }
  &__RightBlock {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__Menu {
    position: relative;
    z-index: $z-index-10;
  }
  &__MenuButton {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0.125rem;
    color: rgb(255 255 255);
    background-color: rgb(39 58 39);
    padding: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border: unset;
    &:hover {
      background-color: var(--primary-color);
    }
  }
  &__MenuItemsWrapper {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5rem;
    width: 14rem;
    border-width: 1px;
    border-color: rgb(39 58 39);
    background-color: rgb(0 0 0 / 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px #36ba0120, 0 4px 6px -4px #36ba0120;
  }
  &__MenuItems {
    display: flex;
    flex-direction: column;
  }
  &__MenuItem {
    display: block;
    padding: 0.5rem 1rem;
    @include font-875(rgb(255 255 255 / 0.8), $font-weight-500);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
      color: var(--primary-color);
      background-color: rgb(255 255 255 / 0.05);
    }
    &:active {
      color: var(--primary-color);
    }
  }
}

@media (min-width: 768px) {
  .Header {
    &__NavLinks {
      display: flex;
    }
    &__Menu {
      display: none;
    }
  }
}
