@import 'src/shared';

.ExperiencePage {
  &__Title {
    @include font-1500(#fff, $font-weight-700);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  &__Content {
    padding: 0;
  }
  &__HistoryItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }
  &__ContributionsData {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__ContributionsList {
    padding: 0 1rem;
  }
  &__IntermediateTitle {
    @include font-1125($default-text-color, $font-weight-700);
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__IntermediateSubTitle {
    text-align: center;
    @include font-750($gray-text-color);
  }
}
