@import 'src/shared';

.ExperiencePage {
  &__Title {
    font-family: inherit;
    font-size: 1.875rem; // text-3xl
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.1em; // tracking-widest
    text-align: center;
    margin-bottom: 2rem; // mb-8
    margin-top: 0;
  }
  &__Content {
    padding: $medium-space $small-space;
  }
  &__HistoryItem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__ContributionsData {
    display: flex;
    flex-direction: column;
    gap: $small-space;
  }
  &__ContributionsList {
    padding: 0 4 * $small-space;
  }
}
