@import "src/common/styles/constants";
@import "src/common/styles/mixins";

.TechnicalSkills {
  padding: $medium-space $tiny-space;

  &__Title {
    display: flex;
    justify-content: center;
    margin-bottom: $small-space;

    &_withTopMargin {
      margin-top: $small-space;
    }
  }

  &__AreasData {

  }

  &__LanguagesData {

  }
}
