@import 'src/common/styles/constants';
@import 'src/common/styles/mixins';
@import 'src/ui/Content/common/style/mixins';

.TechnicalSkills {
  @include content-page;

  &__ListsBlock {
    display: flex;
    justify-content: center;
  }

  &__AreasData {
  }

  &__LanguagesData {
  }

  &__OperatingSystemsData {
    margin: 0 $medium-space;
  }

  &__NetworkingData {
    margin: 0 $medium-space;
  }

  &__TechnologiesData {
  }
}
