.ProjectsPage {
  width: 100%;
  &__Title {
    font-family: inherit;
    font-size: 1.875rem; // text-3xl
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.1em; // tracking-widest
    text-align: center;
    margin-bottom: 2rem; // mb-8
    margin-top: 0;
  }
  &__Items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .ProjectsPage__Items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .ProjectsPage__Items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
