@import 'src/shared';

.ProjectsPage {
  width: 100%;
  &__Title {
    @include font-1500(#fff, $font-weight-700);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  &__Items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .ProjectsPage__Items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .ProjectsPage__Items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
