@import 'src/common/styles/constants';

.Field {
  margin: $tiny-space $small-space;
  display: flex;
  flex-direction: row;
  gap: $tiny-space;

  &_block {
    flex-direction: column;
  }

  &__Label {
  }

  &__Value {
  }
}

@media (max-width: $sm) {
  .Field {
    flex-direction: column;
  }
}
