.TypeWriter {
  &__Cursor {
    animation: cursor 1s linear infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
