@import 'src/shared';

$card-border-radius: 4px;

.Card {
  margin: 0.5 * $space;
  padding: 0.5 * $space;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px #36ba0120, 0 4px 6px -4px #36ba0120;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
}
