@import 'src/shared';
@import 'src/shared/ui/select/select.mixins';

.SelectCombobox {
  position: relative;
  display: inline-block;

  &__Control {
    @include select-control;
    &_open {
      @include opened-select-control;
    }
  }

  &__Value {
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }
  &__List {
    position: absolute;
    z-index: 10;
    margin-top: 0.25rem;
    padding: 0.25rem 0;

    min-width: 100%;
    max-height: 14rem;
    overflow-y: auto;

    border-radius: 0.25rem;
    border: $tiny-border;
    background-color: $app-background-color;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  &__Option {
    @include small-normal-text;

    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $default-text-color;
    background-color: transparent;
    transition: background-color $transition-tiny-duration $cb-like-ease-in-out,
      color $transition-tiny-duration $cb-like-ease-in-out;

    &:hover {
      @include select-option-hover;
    }
    &_selected {
      @include select-option-selected;
    }
    &_active {
      color: $default-text-color-active;
    }
  }
}
