@import 'src/common/styles/constants';
@import 'src/common/styles/mixins';

.App {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding: 0;
  background: $app-background-color;
  box-sizing: border-box;
}

.Link {
  @include small-normal-text;
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Title {
  @include medium-bold-text;
}

.IntermediateTitle {
  @include medium-bold-text;
  display: flex;
  margin-bottom: $small-space;
  margin-top: $medium-space;
  justify-content: flex-start;

  &_withCenterAlignment {
    justify-content: center;
  }

  &_withRightAlignment {
    justify-content: flex-end;
  }

  &_withoutTopMargin {
    margin-top: 0;
  }

  &_withoutBottomMargin {
    margin-bottom: 0;
  }

  &_withoutVMargins {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.Label {
  @include small-normal-text($gray-text-color);

  &_tiny {
    @include tiny-normal-text($gray-text-color);
  }

  &_alignment-center {
    text-align: center;
  }
}

.Text {
  @include small-normal-text;
}

.InlineLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
