.app {
  margin: 0 auto;
  width: 90vw;
  height: calc(100vh - 120px);
  padding: 60px;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-photo {
    height: 240px;
  }

  &-link {
    color: #61dafb;
  }
}

