@import url('https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700');
@import 'src/shared';

body {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  background-color: rgb(13 13 13);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #e8e6e3;
}

* {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

// TODO: [REDESIGN] Use constants instead magic numbers
:root {
  --primary-color: #36ba01;
}
.glitch {
  text-shadow: -1px -1px 0px var(--primary-color), 1px 1px 0px #00ffff;
  animation: glitch-effect 1.5s infinite;
}
@keyframes glitch-effect {
  0% {
    text-shadow: -1px -1px 0px var(--primary-color), 1px 1px 0px #00ffff;
  }
  25% {
    text-shadow: 1px 1px 0px var(--primary-color), -1px -1px 0px #00ffff;
  }
  50% {
    text-shadow: 1px -1px 0px var(--primary-color), -1px 1px 0px #00ffff;
  }
  75% {
    text-shadow: -1px 1px 0px var(--primary-color), 1px -1px 0px #00ffff;
  }
  100% {
    text-shadow: -1px -1px 0px var(--primary-color), 1px 1px 0px #00ffff;
  }
}

a.active {
  color: var(--primary-color);
}

a.pending {
  animate: pulse 1s infinite;
}

a.transitioning {
  /* css transition is running */
}
