@import url('https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700');
@import 'src/shared';

body {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  background-color: rgb(13 13 13);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include font-1000;
  color: #e8e6e3;
}

* {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// TODO: [REDESIGN] Use constants instead magic numbers
:root {
  --primary-color: #36ba01;
}

a.active {
  color: var(--primary-color);
}

a.pending {
  animate: pulse 1s infinite;
}

a.transitioning {
  /* css transition is running */
}
