@import 'src/shared/ui/styles/constants';
@import 'src/shared/ui/styles/mixins';

.Link {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.InlineLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
