@import 'src/shared/ui/styles/constants';

@mixin tiny-padding {
  padding: $tiny-space;
}

@mixin tiny-normal-text($text-color: $default-text-color) {
  @include font($tiny-font-size, $normal-font-weight, $tiny-line-height, $text-color);
}

@mixin small-normal-text($text-color: $default-text-color) {
  @include font($small-font-size, $normal-font-weight, $small-line-height, $text-color);
}

@mixin small-bold-text($text-color: $default-text-color) {
  @include font($small-font-size, $bold-font-weight, $small-line-height, $text-color);
}

@mixin medium-bold-text {
  @include font($medium-font-size, $bold-font-weight, $medium-line-height);
}

@mixin font($size, $weight, $height, $color: $default-text-color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  word-break: break-word;
}

@mixin tabName($active: false) {
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  cursor: pointer;
  @if ($active) {
    @include font($small-font-size, $super-bold-font-weight, $small-line-height, $active-element-color);
  } @else {
    @include font($small-font-size, $bold-font-weight, $small-line-height, $default-text-color);
  }
}
