name: Project build

on:
  push:
    branches: [ develop, testing, main ]
  pull_request:
    branches: [ develop, testing, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Install dependencies
        run: |
          npm install -g corepack@0.31.0
          corepack enable
          yarn install

      - name: Styling
        run: |
          yarn format:check
          yarn lint

      - name: Project build
        run: yarn build

      - name: Storybook build
        run: yarn build-storybook
